* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --amarelo: rgb(211, 180, 43);
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

section {
  height: 100vh;
}

section:first-of-type {
  margin-top: -10vh;
  background-image: url("../assets/fundo-biblioteca.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  color: var(--amarelo);
}

#frases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 90px;
  }

#home #frase1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;  
  font-size: 80px;
  font-weight: bold;
}

#home #frase2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;  
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 40px;
}

.pagina2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: #000;

}
.imagens{
  justify-content: space-between;
  display: flex;
  height: 250px;
  margin-top: 2%;
}
.textos{
  justify-content: space-between;
  display: flex;
  gap: 30px;
  margin-left: 1%;
}

