/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family:"Poppins", sans-serif;
  background-color: white;
}

:root {
  --amarelo: #E9AD32;
}

img {
  width: 150px;
  height: 150px;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100vw;
  height: 100vh;
  background-color: rgb(247, 244, 244);
  font-family:"Poppins", sans-serif;
}

.dash-right .avisos .container {
  width: 85vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
  height: fit-content;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem label{
  font-size: 14px;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  height: 150px;
  border: 3px solid #050835;
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  resize: none;
}

.dash-right .avisos .div-form #titulo {
  width: 95%;
  height: 30px;
  border: 3px solid #050835;
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family:"Poppins", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 15px;
  color: white;
  background-color: #050835;
  width: 120px;
  transition: 0.4s;
}

.dash-right .avisos .div-form button:hover {
  background-color: #22287e;
  color: #f0f0f0;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family:"Poppins", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: var(--amarelo);
  width: 80px;
}

.publicacao-btn-editar:hover {
  background-color: #d19a00;
  color: #f0f0f0;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid var(--amarelo);
  padding: 20px;
  color: white;
  background-color: #050835;
}

.publicacao span {
  color: white;
}

.span-sem-resultado {
  display: inline-block;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 70%;
}

.div-results .feed-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #f0f0f0;
}

.dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
  margin-left: 15vw;
  background-color: rgb(247, 244, 244);
}

.header-left div {
  font-size: 13px;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #0f0f0f;
  background-color: #050835;
}

.dash-right {
  display: flex;
  width: 85vw;
  height: 100vh;
  background-color: rgb(247, 244, 244);
  margin-left: 15vw;
}


.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 50%;
  color: #000000;
  background-color: var(--amarelo);
  border-radius: 8px;
  border: #212124 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6%;
  cursor: pointer;
}

.btn-nav-white {
  width: 50%;
  background-color: white;
  border: #212124 solid 2px;
  border-radius: 8px;
  text-align: center;
  padding: 2% 5%;
  transition: 0.4s;
}

.btn-nav-white h3 {
  color: #000000;
  padding: 0;
  margin: 0;
  transition: 0.4s;
}

.btn-nav-white:hover h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn-logout {
  width: 30%;
  background-color: #f1f1f1;
  color: #212124(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border: black solid 2px;
  transition: 0.4s;
}

.btn-logout:hover {
  background-color: rgb(208, 20, 20);
  color: #f1f1f1;
}

.btn-nav-white:hover {
  background-color: var(--amarelo);
  color: #f3f3f3;
}

.graficos {
  background-color: #ffffff;
  width: 85%;
  height: 65%;
  border-radius: 8px;
}

.parte-cima {
  width: 85%;
  height: 10%;
  display: flex;
  align-items: center;
}

.kpis {
  width: 85%;
  height: 15%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

.kpi {
  width: 55%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.758);
  font-family:"Poppins", sans-serif'Barlow', sans-serif;
}

.kpi1,
.kpi1 h3,
.kpi1 p,
.kpi1 span {
  background-color: #050835;
  color: white;
}

.kpi2,
.kpi2 h3,
.kpi2 p,
.kpi2 span {
  background-color: var(--amarelo);
  color: #050835;
}

.nome-pagina {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  font-weight: bolder;
  font-size: 20px;
}

.nome-pagina span {
  color: black;
}

.graficoApex {
  background-color: #ffffff;
  margin-top: 30px;
}

.regiao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 8px;
  font-family:"Poppins", sans-serif'Barlow', sans-serif;
  margin-left: 5px;
}

.regiao label {
  color: #000;
  font-size: 12px;
}

.regiao select {
  padding: 5px 10px;
  border: 2px solid #d19a00;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
}

.container {
  padding-top: 70px;
  padding-left: 70px;
  color: black;
}

.container h1 {
  font-size: 18px;
}

.div-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-edicao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60%;
  height: 80%;
  margin-top: 5%;
  margin-left: 20%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 1px 5px 0 #050835;
}

.card-edicao .config {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 90%;
  /* margin-left: 30%; */
  text-align: center;
}

.card-edicao .div-senha {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  }

.card-edicao .div-excluir {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
}

.card-edicao input {
  border-radius: 10px;
  height: 40px;
  width: 350px;
  padding-left: 5px;
}

.card-edicao button {
  height: 30px;
  background-color: var(--amarelo);
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
  font-weight: bolder;
}

.card-edicao button:hover {
  background-color: #d19a00;
  color: #f0f0f0;
}