* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


:root{
  --amarelo: rgb(211, 180, 43);
  
}

header {
  position: relative;
  z-index: 10;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.084);
  font-family: sans-serif;
  
  
}

header a {
  text-decoration: none;
}

header a:visited{
  text-decoration: none;
  color: black;
}

header input {
  height: 25px;
  width: 300px;
  border: 2px solid black;
  border-radius: 7px;
}

header input:focus{
  border: 2px solid black;
  border-radius: 7px;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
}

section:first-of-type {
  margin-top: -10vh;
  background-color: aqua;
}

section {
  height: 100vh;
}

#home {
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  color: var(--amarelo);
}

#content {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

#content #frase1 {
  display: flex;
  justify-content: space-between;
  width: 320px;  
    font-size: 35px;
 
}

#content #frase2 {
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin-left: 45px;
      font-size: 30px;

}

.pagina2{
 display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center ;
  background-color: blueviolet;
}
.imagens{
  justify-content: space-between;
  display: flex;
  height: 250px;
  margin-top: 2%;
}
.textos{
    justify-content: space-between;
  display: flex;
  gap: 30px;
  margin-left: 1%;
}
.titulo1{
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.titulo1 span{
  margin-right: 5px;
}
.titulo1 p{
  margin-left: 5px;
}