* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --amarelo: #E9AD32;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

section {
  height: 100vh;
}

section:first-of-type {
  margin-top: -10vh;
  background-image: url("/web-data-viz/public/assets/fundo-biblioteca.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  color: var(--amarelo);
}

#frases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.5);;
  border-radius: 5px;
  padding: 15px;
}

#home #frase1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
  font-size: 60px;
  font-weight: bold;
}

#home #frase2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
  font-size: 60px;
  font-weight: bold;
}

.pagina2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: #000;
  padding-bottom: 10vh;
}

.titulo {
  font-size: 40px;
}

.textos {
  justify-content: space-between;
  display: flex;
}

@media screen and (max-width: 600px) {
  header {
    display: block;
  }

  header input {
    margin: 10px 0 10px 60px;
  }

  #pesquisa {
    display: flex;
    align-items: center;
    margin-right: 35px;
  }

  #pesquisa button {
    height: 35px;
    padding: 0;
    background-position: 5px 5px;
  }

  #login-cadastro {
    margin-top: 10px;
  }

  section:first-of-type {
    background-size: cover;
    background-position: center;
  }

  #frases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 100px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
  }

  #frases #frase1 {
    font-size: 20px;
  }

  #frases #frase2 {
    font-size: 20px;
    margin: 0;
  }

  footer {
    font-size: 10px;
  }

}