* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;;
}

:root{
  --amarelo: rgb(211, 180, 43);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background: transparent;
  color: white;
}

header img {
  width: 150px;
  margin-top: 30px;
}

header input {
  height: 35px;
  width: 300px;
  border: 2px solid black;
  border-radius: 7px;
}

header input:focus{
  border: 2px solid black;
  border-radius: 7px;
}

header a {
  text-decoration: none;
  color: white;
}

header a:visited{
  text-decoration: none;
  color: white;
}

#login-cadastro {
  margin-right: 40px;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

section {
  height: 100vh;
}

section:first-of-type {
  margin-top: -10vh;
  background-image: url("/web-data-viz/public/assets/fundo-biblioteca.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  color: var(--amarelo);
}

#frases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  padding: 10px;
  }

#home #frase1 {
  display: flex;
  justify-content: space-between;
  width: 325px;  
  font-size: 35px;
  font-weight: bold;
}

#home #frase2 {
  display: flex;
  justify-content: space-between;
  width: 275px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}

.pagina2{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center ;
  background-color: rgb(184, 181, 181);

}
.imagens{
  justify-content: space-between;
  display: flex;
  height: 250px;
  margin-top: 2%;
}
.textos{
  justify-content: space-between;
  display: flex;
  gap: 30px;
  margin-left: 1%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: var(--amarelo);
  font-weight: bold;
  color: white;
  flex-direction: row;
}

.login .container {
    width: 100%;
    height: 100%;
    padding: 10%;
    align-items: center;
    justify-items: center;
}

.login{
    display: flex;
    min-height: 100vh;
    background-image: url("/web-data-viz/public/assets/fundo-biblioteca.png");
    background-size: cover;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.cadastro {
    display: flex;
    min-height: 100vh;
    background-image: url("/web-data-viz/public/assets/fundo-biblioteca.png");
    background-repeat: no-repeat;
  
    background-size: cover;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px){
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #login-cadastro {
    margin-left: 30px;
  }

  section:first-of-type {
    background-size: cover;
    background-position: center;
  }

  #frases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #home #frase2 {
    margin-bottom: 0;
  }

  footer {
    font-size: 12px;
  }
  
}

.principal{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  opacity: 100%;
  z-index: 1000;
  margin-top: 7%;
  flex-direction: column;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%; 
    margin: 0 auto;
}

.card-login {
    background-color: #d3b42b; 
    color: white;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); 
    
    width: 90%; 
    max-width: 530px;
    min-height: 380px; 

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px; 
    justify-content: center;
}

.card-cadastro {
    background-color: #d3b42b; 
    color: white;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); 
    width: 670px; 
    max-width: 90%;
    min-height: 380px;
    height: auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.titulo{
  font:bolder;
  font-size: 25px;
}

.campo {
    text-align: left; 
}

.campo input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: #f0f0f0; 
}


.botao {
    width: 70%;
    padding: 14px;
    margin-top: 20px; 
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: 0;
    align-self: center;
}

.botao:hover{
  background-color: rgb(248, 232, 142);
}

.esqueceu{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

@media screen and (mas-width: 600px){
  .cadastro{
    flex-direction: column;
    padding: 20px;
    background-position: center;
    background-size: cover;
    
  }

  .card-cadastro{
    width: 95%;
    max-width: 100%;
    padding: 20px;
    margin-top: 15px;
    min-height: auto;
  }

  .titulo{
    font-size: 20px;

  }

  .campo input{
    font-size: 16px;
    padding: 8px;
  }

  .botao{
    width: 100%;
    font-size: 14px;
    padding: 12px;
  }

  .esqueceu{
    font-size: 13px;
    margin-top: 8px;
  }
}

