* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --amarelo: rgb(211, 180, 43);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: var(--amarelo);
  font-weight: bold;
  color: white;
}