* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --amarelo: #E9AD32;
}

header {
  position: relative;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.0);
}

header img {
  width: 150px;
  margin-top: 50px;
}

header #canto-direito {
  display: flex;
  align-items: center;
}

header #login-cadastro {
  width: 150px;;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: white;
}

header a:visited {
  text-decoration: none;
  color: white;
}

header .div-hamburger-pai {
  position: relative;
  z-index: 1000;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

header .div-hamburger-pai .div-hamburger-filha {
  width: 30px;
  height: 5px;
  background-color: black;
}

.div-menu-pai {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 0;
  height: 100vh;
  color: #000;
  background-color: white;
  transition: width 0.5s ease;
}

.div-menu-pai-ativo {
  width: 300px;
  border-left: 2px solid black;
}

.div-menu-pai .div-menu-filha {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 0;
  border: 1px solid transparent;
  overflow: hidden;
  transition: width 1.5s ease, border-color 1.5s;
}

.div-menu-pai-ativo .div-menu-filha-ativo {
  border: 1px solid black;
  width: 80%;
}

.div-menu-pai-ativo .div-menu-filha-ativo .div-menu-neta a {
  cursor: pointer;
}

.div-menu-pai-ativo .div-menu-filha-ativo .div-menu-neta a:visited {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {

  #canto-direito {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    gap: 20px;
  }

  header #login-cadastro {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-left: 80px;
  }

  .div-hamburger-pai {
    display: none;
  }

  .div-hamburger-filha {
    display: none;
  }
  
}