.div-config-slack {
    display: flex;
    height: 100vh;
    width: 85vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 244, 244);
    margin-left: 15vw;
}

.div-config-slack div {
    display: flex;
    gap: 20px;
    width: 900px;
    height: 550px;
    background-color: #050835;
    box-shadow: 4px 1px 5px 0 #050835;
    padding: 50px 0 0 200px;
    color: white;
}

.div-config-slack div img {
    width: 200px;
    height: 50px;

}

